.terraform.lock.hcl
.terraform.lock.hcl
terraform.tfstate
.terraform/providers/registry.terraform.io/hashicorp/aws/4.59.0/windows_amd64/terraform-provider-aws_v4.59.0_x5.exe
private-key
private-key/terraform-key.pem
../private-key/terraform-key.pem